---
layout: default
title: "Authors"
description: "Author cloud from all the posts"
permalink: /authors
sitemap: false
---

<div class="tags-page">
  <h1 class="tags-page-header">
    Authors
  </h1>

  {% assign my_authors = site.collections | where: "label", "my_authors" | first %}

  {% assign sorted_authors = site.authors %}

  {% for author in sorted_authors %}

    {% assign author_slug = author | first %}
    {% assign upcase_author_slug = author_slug | upcase %}
    {% assign no_of_posts = author | last | size %}

      {% for my_author in my_authors.docs %}
        {% if author_slug == my_author.slug %}
          {% assign author_name = my_author.name %}
        {% endif %}
      {% endfor %}
      {% assign upcase_author_name = author_name | upcase %}

    {% if upcase_author_slug != "PROJECT" %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="tag-cloud" href="{{ 'author/' | relative_url }}{{ author_slug }}" title="See all posts by {{ upcase_author_name }}"
      style="font-size: {{ no_of_posts  |  times: 15 | plus: 120  }}%">
        <span>{{ upcase_author_name }}<small>({{ no_of_posts }})</small></span>
      </a>
    {% endif %}

  {% endfor %}
</div>
