---
layout: default
title: "Faisal M. Lalani"
description: ""
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="card article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <div class="card-body">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
          <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Test</h6> -->
        <p class="card-text">
          {% if post.description %}
            {{ post.description }}  
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
        {% include article/info-footer.html post=post %}
      </div>
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
