<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <div class="container">
    <div class="col-sm-12">
      <div class="row justify-content-center footer-row">
        <p>built by Faisal 🎒🌏😊</p>
      </div>
      <div class="row justify-content-center footer-row">
        <ul class="header-links">
          {% if site.social.twitter %}
            <li>
              <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
                {% include svg-icon.html icon="twitter" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.facebook %}
            <li>
              <a href="https://www.facebook.com/{{ site.social.facebook }}" rel="noreferrer noopener" target="_blank" title="Facebook">
                {% include svg-icon.html icon="facebook" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.medium %}
            <li>
              <a href="https://medium.com/{{ site.social.medium }}" rel="noreferrer noopener" target="_blank" title="Medium">
                {% include svg-icon.html icon="medium" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.github %}
            <li>
              <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
                {% include svg-icon.html icon="github" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.linkedin %}
            <li>
              <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">
                {% include svg-icon.html icon="linkedin" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.instagram %}
            <li>
              <a href="https://instagram.com/{{ site.social.instagram }}" rel="noreferrer noopener" target="_blank" title="Instagram">
                {% include svg-icon.html icon="instagram" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.spotify %}
            <li>
              <a href="https://play.spotify.com/user/{{ site.social.spotify }}" rel="noreferrer noopener" target="_blank" title="Spotify">
                {% include svg-icon.html icon="spotify" %}
              </a>
            </li>
          {% endif %}
          {% if site.social.email %}
            <li>
              <a href="mailto:{{ site.social.email }}" title="Email">
                {% include svg-icon.html icon="email" %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
