<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><strong>HERE'S TO LIFE</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">🚀All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">🌏Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">🤖Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">📚Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">📰News</a>
      </li>
    </ul>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{% include image.html path="banner.png" path-detail="banner.png" alt="HERE'S TO LIFE" %}</a>
</nav>

  <!-- {% if site.tag_nav_enabled %}
    <ul id="results-container" class="header-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      {% assign tags = site.tags | sort %}
      {% for tag in tags %}
        {% if forloop.index > 10 %}
          <li>...</li>
          <li><a href="/tags">Show all</a></li>
          {% break %}
        {% endif %}
          <li><a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
      {% endfor %}
    </ul>
    {% endif %} -->

