<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><strong>HERE'S TO LIFE</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      {% assign my_tags = site.collections | where: "label", "my_tags" | first %}
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
        {% assign tag_slug = tag | first %}
        {% for my_tag in my_tags.docs %}
          {% if tag_slug == my_tag.slug %}
            {% assign tag_name = my_tag.name %}
            <li><a href="{{ 'tag/' | relative_url }}{{ tag_slug }}" class="navbar-tag nav-tag">{{ tag_name }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</nav>

<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{% include image.html path="banner.png" path-detail="banner.png" alt="HERE'S TO LIFE" %}</a>
</nav>

